
.modal-dialog {
  position: absolute !important;
  right:160px;
  top:65px;
  margin: 0;
  margin-left: 1rem;
  color: rgb(182, 182, 182);
}

.modal-content {
  background-color: #283046;
  
}

.modal-header {
  border-bottom: 2px solid rgb(65, 65, 65);
}

.modal-body {
  border-bottom: 2px solid rgb(65, 65, 65);
  font-size: 15px;
}

.modal-body h5 {
  margin: 0;
  font-size: 15px;

}



@media only screen and (max-width: 575px) {
  .modal-dialog {
    right:90px;
  }
}

@media only screen and (max-width: 440px) {
  .modal-dialog {
  position: unset !important;
  margin: 2rem;
  margin-top: 70px;
  }
}
