
.cart-modal .modal-dialog {
  position: absolute !important;
  right:140px;
  top:80px;
  margin: 0;
  margin-left: 1rem;
  color: rgb(182, 182, 182);
  padding-bottom: 1rem;
  
}

.cart-modal .modal-content {
  background-color: #283046;
  
}

.cart-modal .modal-header {
  border-bottom: 2px solid rgba(83, 83, 83, 0.349);
}

.cart-modal .modal-body {
  border-bottom: 2px solid rgba(83, 83, 83, 0.349);
  font-size: 15px;
}

.cart-modal .modal-body h5 {
  margin: 0;
  font-size: 15px;

}

.cart-modal .plus-minus-snippet{
  border-radius: 5px;
  border: 1px solid rgb(82, 82, 82);
  color: rgb(153, 153, 153);
  width: 100px;
  padding-top: 0.2rem;
  padding-bottom: 0.2rem;
  
}

.cart-modal .plus-minus-snippet button {
  background-color: rgba(255, 255, 255, 0);
  border: none;
  text-shadow: none;
  outline: none;
  width: 30px;
  color: rgb(155, 155, 155);
}

.cart-modal .modal-footer {
  border: none;
}

.cart-modal .modal-footer button{
  border-radius: 5px;
  border: none;
  background-color: #7367f0;
  outline: none;
  text-decoration: none;
  padding: 0.5rem;
  color: white;
}



@media only screen and (min-width: 450px) {
  .cart-modal .modal-dialog {
    min-width: 400px;
  }
}

@media only screen and (max-width: 575px) {
  .cart-modal .modal-dialog {
    right:75px;
  }
}

@media only screen and (max-width: 440px) {
  .cart-modal .modal-dialog {
  position: unset !important;
  margin: 2rem;
  margin-top: 80px;
  }
}
